{% extends 'homebase.html' %}
{% load static %}
{% block preloader %} {% include 'preloader.html' %} {% endblock preloader %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block slide %} {% include 'slide.html' %} {% endblock slide %}
<div class="blog-posts">
  <div class="container">
    <div class="row">
      {% block content %} {% include 'content.html' %} {% endblock content %}

      {% block aside %} {% include 'aside.html' %} {% endblock aside %}
    </div>
  </div>
</div>
{% block footer %} {% include 'footer.html' %} {% endblock footer %}